# ignore audio files inside dataset directories to save space on repository
datasets/wake_word/negative/*
datasets/wake_word/positive/*
# allow the directories themselves to be tracked
!datasets/wake_word/negative/
!datasets/wake_word/positive/
!datasets/wake_word/positive/.gitkeep
!datasets/wake_word/negative/.gitkeep
*.wav

